body {
    background-color: ; 
    margin: 70px 170px 70px 170px;
}

.container {
    display: grid;
    margin: 90px 150px 90px 150px;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.kotak-1 {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.kotak-2 {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kotak-3 {
    background-color: gold;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.kotak-4 {
    background-color: palegoldenrod;
    width: 100%;
    height: 70px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kotak-5 {
    background-color: peru;
    width: 100%;
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.kotak-6 {
    background-color: lavender;
    width: 100%;
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.kotak-7 {
    background-color: lawngreen;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.kotak-8 {
    background-color: powderblue;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.kotak-9 {
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.kotak-10 {
    background-color: green;
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.kotak-11 {
    background-color: darkcyan;
    width: 100%;
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

.kotak-12 {
    background-color: mediumseagreen;
    width: 100%;
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.kotak-13 {
    background-color: darkred;
    width: 100%;
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
}

.kotak-14 {
    background-color: palegreen;
    width: 100%;
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.kotak-15 {
    background-color: slategrey;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kotak-16 {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kotak-17 {
    background-color: khaki;
    width: 100%;
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kotak-18 {
    background-color: olive;
    width: 100%;
    height: 100%;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kotak-19 {
    background-color: powderblue;
    width: 100%;
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}