body {
    margin: 100px;
    background-color: aqua;
}

.container {
    display: grid;
    background: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.kotak1 {
    background-color: #0F1529;
    color: white;
    width: 100%;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.kotak2 {
    background-color: #EF454F;
    width: 100%;
    height: 70px;
    grid-column-start: 2;
    grid-column-end: 5;
}

.kotak3 {
    background-color: #4C86C6;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.kotak4 {
    background-color: #24344B;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.kotak5 {
    background-color: #FFD169;
    width: 100%;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

.kotak6 {
    background-color: #4DBD97;
    width: 100px;
    height: 70px;
    grid-column-start: 5;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kotak7 {
    background-color: #C0E2E1;
    width: 100px;
    height: 70px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

@media screen and (max-width: 845px) {

    .container {
        display: grid;
        background: white;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    
    .kotak1 {
        background-color: #0F1529;
        color: white;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .kotak2 {
        background-color: #EF454F;
        width: 100%;
        height:100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    
    .kotak3 {
        background-color: #4C86C6;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    
    .kotak4 {
        background-color: #24344B;
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    
    .kotak5 {
        background-color: #FFD169;
        width: 100%;
        height: 70px;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    
    .kotak6 {
        background-color: #4DBD97;
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .kotak7 {
        background-color: #C0E2E1;
        width: 100%;
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}


@media screen and (max-width: 485px) {

    .container {
        display: grid;
        background: white;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .kotak1 {
        background-color: #0F1529;
        color: white;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .kotak2 {
        background-color: #EF454F;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .kotak3 {
        background-color: #4C86C6;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;

    }

    .kotak4 {
        background-color: #24344B;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .kotak5 {
        background-color: #FFD169;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 5;
    }

    .kotak6 {
        background-color: #4DBD97;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .kotak7 {
        background-color: #C0E2E1;
        width: 100%;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}